*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    max-width:1820px;
    border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
}
.sidenavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 263px;
    height: auto;
    border-radius: 24px;
    background-color: #E74C3C ;
    margin-top: 30px;
    transition: all 0.5s ease;
  
}

#btn{
    cursor: pointer;
    margin-left:50% ; 
    transform: translate(-50%);
    font-size: 35px;
     
    
}
 
.sidenavbar.active{
    max-width: 170px;
     
}

.sidenavbar .logo{
    display: flex;
    pointer-events: none;
    justify-content: center;
}

.sidenavbar.active .logo{
    pointer-events: none;
}

.sidenavbar div i{
    margin-left: 60px;

}
ul li i{
    opacity: 1;
}
.active ul li i{
    opacity: 0;
    transition: 1.3s;
}

ul li{
    list-style: none;
    padding: 20px;
    margin-left: 30px;
}
 a{
    font-size: 16px;
    font-weight: 600px;
    text-decoration: none;
    color:#ffff ;
   
}
 

.sidenavbar ul li a{
    opacity: 1;
     
}


.sidenavbar.active ul li a{
    opacity: 0;
    pointer-events: auto;
     transition: 1s;
}

.sidenavbar i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    
}
 a:hover{
    background-color: #F1948A ;
    border-radius: 5px;
}
 
.rightmain{
    max-width: 1400px;
}

.header1{
    max-width: 1400px;
    height: 80px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}
.searchbar{
    max-width: 500px;
    display: flex;
    align-items: center;
    
}
input[type=text]{
    width: 450px;
    padding: 16px 26px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    border: none;
   font-size: 18px;
   outline: none;

}
.profile{
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.profile p{
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
}
.profile span{
    margin-left: 10px;
}
.header2{
    max-width: 1400px;
    min-height: 266px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #E74C3C;
    border-radius: 20px;
    color: #ffff;
}
.header2 p{
    margin-left: 70px;
    line-height: 80px;
}
.header2 h1{
    margin-left: 70px;
    margin-top: 40px;
    height: 52px;
    font-size: 32px;
    font-weight: 600;
}
.header2 h5{
    margin-top: 20px;
    margin-left: 70px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
  
}
.main-container{
    display: flex;
    margin-left: 60px;
    column-gap: 40px;
    max-width: 1400px;
}
.left-container{
    margin-top: 20px;
    max-width: 850px;
    min-height: 480px;

}

.left-container h3{
    font-size: 15px;
    line-height: 40px;
     
}
.right-container{
    margin-top: 20px;
    max-width: 420px;
    min-height: 500px;
    
}
section h3{
    margin-top: 30px;
}
.carddiv1{
    display: flex;
    column-gap: 30px;
    
}
.carddiv1 div{
    width:  260px;
    height: 210px;
    text-align: center;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    
}
.carddiv1 img{
    margin-top: 15px;

}
.carddiv1  .coinimg{
    margin-top: 60px;
}
.carddiv1 p{
    font-size: 16px;
    font-weight: 400px;
    color: #00000080;
}
.carddiv2{
    display: flex;
    margin-top: 20px;
    column-gap: 30px;
}
.carddiv2 div{
    width: 405px;
    height: 170px;
    border-radius: 10px;
    
}
 
.itemdiv  {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-color: #FDEDEC ;
}
 
.itemdiv p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    color: #E74C3C;
    line-height:normal;
}
.itemdiv img{
    margin-top: 40px;
}
.itemdiv span{
    background-color: #E74C3C;
    padding: 6px 48px;
    border-radius: 25px;
    color: #FFF;
}
.itemdiv2  {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-color: #FDEDEC ;
}
.itemdiv2 p{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 17px;
    color: #E74C3C;
    line-height:normal;
}
.itemdiv2 span{
    background-color: #E74C3C;
    padding: 6px 48px;
    border-radius: 25px;
    color: #FFF;
}
.itemdiv2 img{
    margin-right: 30px;
}

.right-container h4{
    margin-left: 20px;
    font-weight: 600;

}
.right-container div img{
    padding: 15px;  

}
.right-container .notice{
    display: flex;
    justify-content: space-between;
    
}
.notice p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}
.notice span{
    color: #E74C3C;
    margin-right: 50px;
}
.description {
    margin-top: 20px;
    height: 300px;
    width: 380px;
    border: 1px ;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5.21094px 5.21094px 31.26563px 5.21094px rgba(0, 0, 0, 0.08);

}
.description div{
margin-top: 30px;

}
.description div h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    color: #000000;
    margin-left:20px ;
    
}
.description div p{
    font-size: 14px;
    width: 280px;
    color: #00000080;
    margin-left: 20px;
}
.description div span{
font-size: 14px;
color: #E74C3C;
margin-left: 20px;
}


/* Mobile responsive */

/*@media (max-width:450px){
    .main{
         width: 100%;
        height: 100vh;
         gap: ;
    }

     .sidenavbar{
        width: 70px;
        height: 680px;
        
        opacity: ;
     
    }
    #btn{
        cursor: pointer;
        margin-left: ; 
        font-size: 20px;
        
    }
    .sidenavbar.active{
        width: 140px;
    
    }
    
    .sidenavbar .logo{
        pointer-events: none;
        
    }
    .sidenavbar.active .logo{
        pointer-events: none;
       
    }
    .sidenavbar div i{
        margin-left: ;
    
    }
    ul li i{
        opacity: 0;
    }
    .active ul li i{
        opacity: 1;
        transition: 1.3s;
    }

    ul li{
         
        padding: 20px;
        margin-left:px;
    }
     a{
        font-size: 12px;
       
    }
     
    .sidenavbar ul li a{
        opacity: 0;
         
    }
    
    .sidenavbar.active ul li a{
        opacity: 1;
         transition: 1s;
    }
    .sidenavbar i{
        font-size: 15px;
        
    }
    .rightmain{
        width:;
    }
    
    .header1{
        display: block;
        width: 340px;
        height: 30px;
        margin-left: ;
        margin-top: 20px;
    }
    .searchbar{
        width: 100px;
       
    
    }
    input[type=text]{
        width: 200px;
        padding: 10px 16px;
       font-size: 12px;
    }
    .profile{
        margin-top: 10px;
    }
    .profile p{
        font-size: 10px;
        font-weight: 400;
        
    }
    .profile span{
        font-size: 12px;
        margin-left:  ;
    }
    .header2{
        max-width: 230px;
        height: 300px;
        margin-left:  ;
        margin-top: 80px;
         
    }
    .header2 p{
        line-height: 60px;
        font-size: 14px;

    }
    .header2 h1{
        margin-top: 30px;
        font-size: 16px;
         
    }
    .header2 h5{
        margin-top: 20px;
        font-size: 14px;
        
    }
    .main-container{
        display: block;
        margin-left: 10px;
        column-gap: 10px;
        height: 1400px;
    }
    .left-container{
        margin-top: 20px;
        width: 850px;
        height: 480px;
    
    }
    .carddiv1{
        display: block;
        row-gap: 10px;
        height: auto;
        width: 100%;
        
    }
    .carddiv1 div{
        width: 250px;
        height: 200px;
        text-align: center; 
        row-gap: 50px;
        margin: 10px 0;
        
    }
    .carddiv2{
        display: block;
        margin-top: 20px;
        width: 100%;
       
    }
    .carddiv2 div{
        width: 205px;
        height: 170px;
        border-radius: 10px;
       
        
    } 

}*/